*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
shard style */


.btn{
    background-color: #FD6E0A;
    width: 150px;
    height: 65px;
    padding: 19px 36px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color:white;
    cursor: pointer;
}


.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


.logo h2{
    font-size: 45px;
    font-weight: 900;
}


.color-orang{
    color: #FD6E0A;
}

.text-center{
    text-align: center;
}

/* main style */

.banner-content{
    max-width: 585px;
}


header{
    background-color: #FFF8F3;
    padding-top: 51px;
    background: url(/images/developer.png),url(/images/header_bg.png),#FFF8F3;
    background-position: 23px 38px,bottom right;
    background-repeat: no-repeat;
}

nav{
    width: 1249px;
    /* max-width:1600 px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .manu{
    display: flex;
    list-style: none;
    gap: 68px;
    align-items: center;
}

nav .manu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    /* border: 2px solid red; */
    margin: 46px 38px 0px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 5px;
    color: #474747;

}

#banner .banner-content h1{
       font-size: 85px;
    font-weight: bold;
    color:black;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.button{
    display: flex;
    gap: 30px;
}

#banner .banner-image{
    max-width: 584px;
    vertical-align: middle;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 32px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}


/* about */

#about,#skills,#resume{
    padding-top: 130px;

}


#about .about-container{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .about-container .about-info{
    display: flex;
    justify-content:space-around;
}

.about-info .info-cad p{

     font-size: 20px;
    line-height: 30px;
    color: #757575;

}

.about-info .info-cad h4{
    font-size: 20px;
    font-weight: bold;
}
/* 
#skills{
    padding-top: 130px;
} */

#skills .skills-container{
    width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skills-box{
    display: flex;
    gap: 24px;
}

.skills-box .skill-card{
    padding: 30px;
    /* border: solid darkblue; */
    box-shadow: 0 6px 50px 0 #00000071;
    max-width: 267px;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}
.skill-ca p{
      font-size: 16px;
    color: #757575;
    line-height: 28px;
}

#resume .resume-container{

    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;

   

}
.resume-container .section-title{
    font-size: 30px;
    color: #474747;

}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.resume-card .card-info{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
    color: #757575;
}


.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    font-weight: 600px;
    color: #757575;
}

.resume-container hr{
    margin: 30px 0;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px;
}

footer .footer-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}

.footer-container h2{
    color: #181818;
    line-height: 35px;
    font-weight: bold;
    margin-bottom: 20px;

}

.footer-container .socail{
    max-width: 562px;
}

.footer-container .socail p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
     margin-bottom: 30px
}

.footer-container .icons a{
    margin-right: 24px;
    

}

.footer-container form input[type="text"] ,.footer-container textarea {
    width: 461px;
    padding: 18px 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    color: #757575;
}