*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
shard style */


.btn{
    background-color: #FD6E0A;
    width: 150px;
    height: 65px;
    padding: 19px 36px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color:white;
    cursor: pointer;
}


.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


.logo h2{
    font-size: 45px;
    font-weight: 900;
}


.color-orang{
    color: #FD6E0A;
}

/* main style */

.banner-content{
    max-width: 585px;
}


header{
    background-color: #FFF8F3;
    padding-top: 51px;
    background: url(/images/developer.png),url(/images/header_bg.png),#FFF8F3;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
}

nav{
    width: 1249px;
    /* max-width:1600 px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .manu{
    display: flex;
    list-style: none;
    gap: 68px;
    align-items: center;
}

nav .manu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    border: 2px solid red;
    margin: 46px 38px 0px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 5px;
    color: #474747;

}

#banner .banner-content h1{
       font-size: 85px;
    font-weight: bold;
    color:black;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.button{
    display: flex;
    gap: 30px;
}

#banner .banner-image{
    max-width: 584px;
    vertical-align: middle;
}